{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="about" id="about">
    <div class="about-img">
      <img src="{% static 'images/about.jpg' %}" alt="About Image" />
    </div>
    <div class="about-content">
      <h2 class="heading">About <span>Me</span></h2>
      <h3>Web Developer | MERN Stack | Tech Explorer 🚀</h3>
      <p>
  🎓 I'm currently pursuing B.Tech in Computer Science at Sushila Devi Bansal &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  College of Technology, Indore.<br>
  🏫 The college is AICTE approved and affiliated with RGPV, Bhopal.<br>
  💡 I’m passionate about continuous learning, innovation, and solving real- &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; world problems.<br>
  💻 Skilled in front-end development, algorithms, and ethical hacking.<br>
  🚀 I enjoy exploring new technologies and building meaningful projects.<br>
  📈 Always looking for opportunities to grow and improve my technical skills.
</p>

      <a href="https://www.linkedin.com/in/subhash-dangi-068529291/" class="btn">Read More</a>
    </div>
  </section>
  {% endblock %}